

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-yellow);
}

header .title {
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 0;
}

header .subtitle {
    margin: 5px 0 20px 0;
    padding: 0;
}
