{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/results.css') }}">

<script src="{{ url_for('static', filename='js/route_renders.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter_sort.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}


{% block body %}

<div>
    <div class="search_bar">
        <div class="input_border">
            <i class="fa fa-search icon"></i>
            <input class="title_input" id="search_input" type="text" />
        </div>
    </div>


    <div class="results">
        <div class="results_functionality">
            <div class="result_options">
                <ul>
                    <li id="filter_li"><i class="fa fa-solid fa-filter icon"></i>Filtar</li>
                    <li id="sort_li"><i class="fa fa-solid fa-sort icon"></i>Ordenar</li>
                </ul>
            </div>

            <div class="extra_params">
                <span>Options</span>
                <input class="date_input" type="date" id="date_input" />
                <input class="location_input" type="text" id="location_input"/>
            </div>
        </div>

        <div class="sort_filter_options_container">
            <div class="sort_filter_options" id="filter_options">
                test filter
            </div>
            <div class="sort_filter_options" id="sort_options">
                <h4>Ordenar</h4>

                <select id="order_crit_select">
                    <option value="ascendente">Ascendente</option>
                    <option value="descendente">Descendente</option>
                </select>

                <div class="order_checkboxes">
                    <div>
                        <input type="checkbox" disabled="true" value="recomendado" name="checkboxGroup" id="order_crit_recomendado" class="checkboxes" checked="true">
                        <label for="order_crit_recomendado">Recomendado</label>
                    </div>

                    <div>
                        <input type="checkbox" value="distancia" name="checkboxGroup" id="order_crit_distancia" class="checkboxes">
                        <label for="order_crit_distancia">Distancia</label>
                    </diV>

                    <div>
                        <input type="checkbox" value="dificultad" name="checkboxGroup" id="order_crit_dificultad" class="checkboxes">
                        <label for="order_crit_dificultad">Dificultad</label>
                    </div>

                    <div>
                         <input type="checkbox" disabled="true" value="clima" name="checkboxGroup" id="order_crit_clima" class="checkboxes">
                        <label for="order_crit_clima">Clima</label>
                    </div>

                    <div>
                         <input type="checkbox" disabled="true" value="transporte" name="checkboxGroup" id="order_crit_transporte" class="checkboxes">
                        <label for="order_crit_transporte">Transporte</label>
                    </div>

                </div>

            </div>
        </div>



        <div id="result_list">
            <p>Introduce un sitio que te gustaría explorar en la barra de búsqueda.</p>
        </div>

    </div>

    <!-- Ventana modal, por defecto no visiblel -->
    <div id="ventanaModal" class="modal">
        <div class="modal-content">
            <span id="cerrar">&times;</span>
            <div id="modal_route_div">
                <h2>Ventana modal</h2>
                <p>Esto es el texto de la ventana</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}